In [12]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(people)

In [15]:
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [16]:
#combine columns
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [17]:
df['full_name'] = df['first'] + ' ' + df['last']

In [18]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [20]:
#remove column
df.drop(columns = ['first', 'last'], inplace = True)

KeyError: "['first', 'last'] not found in axis"

In [21]:
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [22]:
df['full_name'].str.split(' ')

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object

In [23]:
#expand list
df['full_name'].str.split(' ', expand = True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [24]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand = True)

In [25]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [ ]:
#add single row
df.append({''})