In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Lok+Sabha_2019.csv')

In [3]:
df.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.00,52,ST,Basic Level,3099414.00,231450.00,376892,482,377374,25.33,35.47,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.00,54,ST,Post Graduate,18477888.00,847000.00,318665,149,318814,21.40,29.96,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.00,52,ST,Basic Level,36491000.00,15300000.00,314057,181,314238,21.09,29.53,1489790
3,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.00,58,SC,Doctorate,74274036.00,8606522.00,644459,2416,646875,33.38,56.46,1937690
4,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.00,47,SC,Post Graduate,133784385.00,22251891.00,434199,1130,435329,22.47,38.00,1937690

# 1. Which State/UT contributes to the least number of total votes? Which State/UT contributes to the most number of total votes?

In [14]:
df_vote=pd.DataFrame(data=df,columns=['STATE','TOTAL VOTES'])
d1=df_vote.groupby(by='STATE',axis=0).sum()
d1.sort_values(by='TOTAL VOTES',ascending=False)

                           TOTAL VOTES
STATE
Uttar Pradesh                 83732192
West Bengal                   55414939
Maharashtra                   52011437
Tamil Nadu                    40629837
Bihar                         38051064
Madhya Pradesh                35366613
Karnataka                     33789397
Rajasthan                     31481301
Andhra Pradesh                30544833
Gujarat                       27823175
Odisha                        23005065
Kerala                        20010727
Telangana                     17826332
Assam                         17318218
Jharkhand                     14099959
Punjab                        13156797
Chhattisgarh                  12918679
Haryana                       12295211
NCT OF Delhi                   8505810
Uttarakhand                    4698459
Himachal Pradesh               3727232
Jammu & Kashmir                3424112
Tripura                        2063655
Manipur                        1598685
Meghalaya                      1340215
Nagaland                        999673
Goa                             828455
Puducherry                      753862
Arunachal Pradesh               640760
Mizoram                         495137
Chandigarh                      436583
Sikkim                          341973
Andaman & Nicobar Islands       199875
Dadra & Nagar Haveli            190366
Daman & Diu                      85190
Lakshadweep                      46221

In [15]:
#UttarPradesh contributes to the most number of total votes
#Lakshadweep contributes to the least number of total votes

# 2. Candidates from which constituency on an average seems to contribute most towards the amount of assets declared? Candidates from which constituency on an average seems to contribute least towards amount of assets declared?

In [28]:
df_asset=pd.DataFrame(data=df,columns=['CONSTITUENCY','ASSETS'],dropna=True)
df_a=df_asset.sort_values(by='ASSETS',ascending=False)
df_a

TypeError: __init__() got an unexpected keyword argument 'dropna'

# 3. Consider assets and liabilities. Describe and explain both across the Education level? Provide a detailed justification for your answer.

# 4. Are there any outliers in assets and liabilities across Education level? Back up your answer with a suitable plot/technique.

# 5. On the basis of the descriptive measure of variability, candidates with what education level shows the most and the least inconsistent behavior in the declared assets?