### Import Numpy and Pandas Libraries

In [1]:
import numpy as np
import pandas as pd

# Q1. Read the '.csv' file into a data frame and display the first 5 rows.

In [12]:
import numpy as np
import pandas as pd

In [13]:
df1=pd.read_csv(r"C:\Users\ibner\MyLearning\Forbes_Billionaire.csv")
df1

,Rank,Name,Age,Net Worth,Country,Source,Industries
0,1,JEFF BEZOS,56.0,113.0,United States,Amazon,Technology
1,2,BILL GATES,64.0,98.0,United States,Microsoft,Technology
2,3,BERNARD ARNAULT & FAMILY,71.0,76.0,France,LVMH,Fashion & Retail
3,4,WARREN BUFFETT,89.0,67.5,United States,Berkshire Hathaway,Finance & Investments
4,5,LARRY ELLISON,75.0,59.0,United States,software,Technology
...,...,...,...,...,...,...,...
2090,1990,DAVID HALL,68.0,1.0,United States,automotive technology,Automotive
2091,1990,DU SHA,73.0,1.0,China,hypermarkets,Diversified
2092,1990,WANG YANQING,73.0,1.0,China,carbon fiber products,Manufacturing
2093,1990,XU WANMAO,75.0,1.0,China,education,Service
2094,1990,WANG MIAOTONG,62.0,1.0,China,auto parts,Automotive

In [18]:
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 2095)

In [23]:
df1.head()

,Rank,Name,Age,Net Worth,Country,Source,Industries
0,1,JEFF BEZOS,56.0,113.0,United States,Amazon,Technology
1,2,BILL GATES,64.0,98.0,United States,Microsoft,Technology
2,3,BERNARD ARNAULT & FAMILY,71.0,76.0,France,LVMH,Fashion & Retail
3,4,WARREN BUFFETT,89.0,67.5,United States,Berkshire Hathaway,Finance & Investments
4,5,LARRY ELLISON,75.0,59.0,United States,software,Technology

In [20]:
df1.columns #to check column names

Index(['Rank', 'Name', 'Age', 'Net Worth', 'Country', 'Source', 'Industries'], dtype='object')

In [21]:
df1['Industries'].value_counts(normalize=False).head(8)

Finance & Investments    298
Technology               241
Fashion & Retail         209
Manufacturing            198
Real Estate              196
Diversified              169
Food & Beverage          168
Healthcare               149
Name: Industries, dtype: int64

In [22]:
df1["Industries"].unique()

array(['Technology', 'Fashion & Retail', 'Finance & Investments',
       'Telecom', 'Media & Entertainment', 'Diversified', 'Energy',
       'Real Estate', 'Gambling & Casinos', 'Food & Beverage',
       'Automotive', 'Manufacturing', 'Metals & Mining', 'Service',
       'Healthcare', 'Logistics', 'Construction & Engineering', 'Sports'],
      dtype=object)

# Q2. Name the top 8 industries with maximum count of billionaires

In [29]:
df1.groupby('Industries').group

AttributeError: 'DataFrameGroupBy' object has no attribute 'group'

In [6]:
df_top8
newcolumn =  ["A", "B", "C", "D", "E"]

# Q3. State the headcount of billionaires from these top 8 industries

In [7]:
df_top8.sum()

Industries    Finance & InvestmentsTechnologyFashion & Retai...
Name                                                       1628
dtype: object

# Q4. Compare the mean of net worth of billionaires from these top 8 industries.

In [11]:
new_df_top8 = pd.DataFrame(columns=df1.columns)
new_df_top8

Empty DataFrame
Columns: [Rank, Name, Age, Net Worth, Country, Source, Industries]
Index: []

In [13]:
for i in df_top8['Industries']:
    a = df1[df1['Industries']==i]
    new_df_top8 = new_df_top8.append(a)

In [14]:
new_df_top8

,Rank,Name,Age,Net Worth,Country,Source,Industries
3,4,WARREN BUFFETT,89.0,67.5,United States,Berkshire Hathaway,Finance & Investments
36,36,JIM SIMONS,81.0,21.6,United States,hedge funds,Finance & Investments
38,39,JOSEPH SAFRA,81.0,19.9,Brazil,banking,Finance & Investments
45,46,RAY DALIO,70.0,18.0,United States,hedge funds,Finance & Investments
63,64,STEPHEN SCHWARZMAN,73.0,15.4,United States,investments,Finance & Investments
...,...,...,...,...,...,...,...
2016,1990,HENRI BEAUFOUR,54.0,1.0,France,pharmaceuticals,Healthcare
2020,1990,ANNE BEAUFOUR,56.0,1.0,France,pharmaceuticals,Healthcare
2025,1990,VADIM YAKUNIN,57.0,1.0,Russia,pharmacy,Healthcare
2067,1990,FAN MINHUA,58.0,1.0,China,pharmaceuticals,Healthcare
2086,1990,LI XIANYU & FAMILY,66.0,1.0,China,pharmaceuticals,Healthcare

In [16]:
new_df_top8['Industries'].unique()

array(['Finance & Investments', 'Technology', 'Fashion & Retail',
       'Manufacturing', 'Real Estate', 'Diversified', 'Food & Beverage',
       'Healthcare'], dtype=object)

In [21]:
for i in new_df_top8['Industries'].unique():
    print('The average net worth of the billionaires of the industry',i,'is',new_df_top8[new_df_top8['Industries']==i]['Net Worth'].mean(),'billions.')

The average net worth of the billionaires of the industry Finance & Investments is 3.4302013422818836 billions.
The average net worth of the billionaires of the industry Technology is 5.634439834024899 billions.
The average net worth of the billionaires of the industry Fashion & Retail is 5.372727272727272 billions.
The average net worth of the billionaires of the industry Manufacturing is 2.730303030303033 billions.
The average net worth of the billionaires of the industry Real Estate is 3.2775510204081653 billions.
The average net worth of the billionaires of the industry Diversified is 3.2934911242603553 billions.
The average net worth of the billionaires of the industry Food & Beverage is 3.7083333333333335 billions.
The average net worth of the billionaires of the industry Healthcare is 2.857046979865774 billions.

# Q5. Compare the mean age of billionaires from these top 8 industries.

In [31]:
for i in new_df_top8['Industries'].unique():
    print('The average age of the billionaires of the industry',i,'is',new_df_top8[new_df_top8['Industries']==i]['Age'].mean(),'years.')

The average age of the billionaires of the industry Finance & Investments is 65.8108108108108 years.
The average age of the billionaires of the industry Technology is 55.37552742616034 years.
The average age of the billionaires of the industry Fashion & Retail is 66.89320388349515 years.
The average age of the billionaires of the industry Manufacturing is 64.139896373057 years.
The average age of the billionaires of the industry Real Estate is 65.89528795811518 years.
The average age of the billionaires of the industry Diversified is 66.88957055214723 years.
The average age of the billionaires of the industry Food & Beverage is 64.8625 years.
The average age of the billionaires of the industry Healthcare is 63.08843537414966 years.

In [32]:
print('The mean age of the billionaires from these industries is:',round(new_df_top8['Age'].mean(),2),'years.')

The mean age of the billionaires from these industries is: 63.97 years.

# Q6. Name the Richest billionaire in the Automotive sector

In [34]:
df1['Industries'].unique()

array(['Technology', 'Fashion & Retail', 'Finance & Investments',
       'Telecom', 'Media & Entertainment', 'Diversified', 'Energy',
       'Real Estate', 'Gambling & Casinos', 'Food & Beverage',
       'Automotive', 'Manufacturing', 'Metals & Mining', 'Service',
       'Healthcare', 'Logistics', 'Construction & Engineering', 'Sports'],
      dtype=object)

In [35]:
df1[df1['Industries']=='Automotive'].sort_values(by='Net Worth',ascending=False).head(1)

    Rank       Name   Age  Net Worth        Country         Source  Industries
30    31  ELON MUSK  48.0       24.6  United States  Tesla, SpaceX  Automotive

# Q7. Name top 5 countries with maximum number of billionaires.

In [36]:
df1['Country'].unique()

array(['United States', 'France', 'Spain', 'Mexico', 'China', 'India',
       'Germany', 'Canada', 'Hong Kong', 'Italy', 'Brazil', 'Russia',
       'Japan', 'Austria', 'Czechia', 'South Korea', 'Indonesia',
       'Sweden', 'Thailand', 'Australia', 'United Kingdom', 'Netherlands',
       'Singapore', 'Ireland', 'Chile', 'New Zealand', 'Cyprus',
       'Malaysia', 'Colombia', 'Nigeria', 'Denmark', 'Switzerland',
       'Belgium', 'Israel', 'South Africa', 'Vietnam', 'Philippines',
       'Taiwan', 'Egypt', 'Norway', 'Georgia', 'Finland', 'Turkey',
       'Algeria', 'Peru', 'Portugal', 'Poland', 'Kazakhstan',
       'United Arab Emirates', 'Venezuela', 'Liechtenstein', 'Greece',
       'Argentina', 'Eswatini (Swaziland)', 'Ukraine', 'Lebanon',
       'Guernsey', 'Oman', 'Iceland', 'Macao', 'Monaco', 'Tanzania',
       'Slovakia', 'Angola', 'Nepal', 'Romania', 'Kuwait', 'Hungary',
       'Qatar', 'St. Kitts and Nevis', 'Zimbabwe', 'Morocco'],
      dtype=object)

In [38]:
df1['Country'].value_counts().head(5)

United States    614
China            387
Germany          107
India            102
Russia            99
Name: Country, dtype: int64

# Q8. Which amongst these top 5 countries have the lowest mean age of billionaires ?

# Q9. Name the richest Chinese billionaire and his net worth

# Q10. Name top 5 Industries with maximum number of Indian billionaires.

# Q11. Name all the Indian billionaires in global top 100 list.

# Q12. Name all the billionaires in India who are younger than 50 years. Also state their mean net worth

# Q13. Name the Indian billionaires from real estate sector who are richer than 'DONALD TRUMP'.

# Q14. What is the total cumulative net worth of all the billionaires?

# END